@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    color: $Wht;
    font-family: 'Roboto', sans-serif;
    background: $bg-color;
}
.container{
    max-width: 1140px;
    margin:auto;
header{
display: flex;
align-items: center;
margin: 40px 0 80px 0;
.logo{
    margin-right: 84px;
}
.nav{
    ul{
        display: flex;
        li{
            margin-right: 30px;
             border-bottom: 2px solid transparent;
            padding-bottom: 10px;
            &:hover{
                border-bottom: 2px solid $Burgundy;
            }
            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
}
.data{
.premier{
    display: block;
    font-size: 24px;
    margin-bottom: 38.1px;
    line-height: 28px;
color: rgba(255, 255, 255, 0.8);
}
.movie-logo{
     margin-bottom: 40.8px;
    }
p{
font-size: 16px;
line-height: 22px;
color: rgba(255, 255, 255, 0.8);
max-width: 423px;
margin-bottom: 70px;
}
}
.button-group{
    display: flex;
    align-items: center;
button{
display: flex;
align-items: center;
justify-content: center;
padding: 15px 30px;
cursor: pointer;
background: $Wht;
font: 400 16px 'Roboto', sans-serif;;
border-radius: 5px;
border: none;
margin-right: 50px;
.icon-play-watch-trailer{
     content: "\e900";
     margin-right: 10px;
        width: 15px;
        height: 15px;
    }
.text{
color: $Burgundy;
}
}
a{
    text-decoration: none;
    font-size: 14px;
line-height: 16px;
color: $Wht;
.icon-ticket{
    position: relative;
    margin-right: 20px;
    &::before{
        position: absolute;
        content: "\e901";
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
    }
}
}
}
.content{
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 22px;
.section{
    flex-basis: 50%;
    h1{
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 21px;
    }
    p{
        margin-bottom: 30px;
        max-width: 423px;
    }
    strong{
    font-weight: bold;
}
.trailer{
    width: 356px;
    height: 205px;
    background: url(../images/trailer-cover.jpg) no-repeat center / contain;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .play.icon-play-watch-trailer{
        border-radius: 50%;
        cursor: pointer;
        border: none;
        width: 45px;
        height: 45px;
        &::before{
        content: "\e900";
        width: 15px;
        height: 15px;
        }
    }
    }
    }
}
.aside{
    .poster-wrapper{
        display: flex;
        align-items: flex-start;
    .poster{
        border-radius: 10px;
        padding-right: 30px;
    }
    .creators {
        strong{
            font-weight: bold;
        }
        .list{
        margin-bottom: 20px;
        padding-top: 0;
        columns: 1;
    }
}
    }
}
}
.list{
    padding-top: 15px;
    columns: 2;
    max-width: 350px;
    li{
    line-height: 26px;
    list-style: none;
    }
}
.venom{
    position: absolute;
    top: 0;
    right: 0;
}
.blood{
    background: url(../images/blood.png) no-repeat top right, $bg-color url(../images/bg.jpg) no-repeat center/100%;  
}
.primary-bg{
    background: $bg-color url(../images/bg.jpg) no-repeat center/100%;  
}
